body {
  background-color: #012b72;
  font-family: Verdana;
}
div.flex-header {
  color: #fdfdfe;
  display: flex;
  margin: 0;
  flex-direction: row;
  align-items: left;
}
div.flex-container {
  display: flex;
  margin: 0 auto;
  max-width: 870;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
img.maplines {
  height: 870;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
h1 {
  font-weight: normal;
  font-size: 60;
  color: #fdfdfe;
}
