body {
  background-color: #012b72;
  font-family: Verdana;
}
div.flex-header {
  display: flex;
  padding: 5;
  margin: -10;
  align-items: center;
  background-color: #fdfdfe;
  flex-direction: row;
}
div.flex-container {
  display: flex;
  margin: auto;
  max-width: 600;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.logo {
  max-width: 120;
  margin: 5;
}
img.maplines {
  height: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
h1 {
  font-weight: normal;
  font-size: 50;
  color: #fdfdfe;
  margin-bottom: -8;
}
h2 {
  font-weight: normal;
  font-size: 20;
  color: #fdfdfe;
}
h3 {
  display: flex;
  margin: auto;
  justify-self: right;
  font-weight: bold;
  font-size: 32;
  color: black;
}
.button1 {
  height: 23;
  width: 23;
}
#about {
  margin-top: -43;
  margin-left: 496;
}
#socials {
  margin-top: 0;
  margin-left: 0;
}
#calendar {
  margin-top: 0;
  margin-left: 0;
}
#gallery {
  margin-top: 0;
  margin-left: 0;
}
#videos {
  margin-top: 0;
  margin-left: 0;
}
#works {
  margin-top: 0;
  margin-left: 0;
}
#toolbox {
  margin-top: 0;
  margin-left: 0;
}
#library {
  margin-top: 0;
  margin-left: 0;
}
