@font-face {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('Helvetica.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: italic;
    font-weight: normal;
    src: local('Helvetica Oblique'), url('Helvetica-Oblique.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    src: local('Helvetica Bold'), url('Helvetica-Bold.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    src: local('Helvetica Bold Oblique'), url('Helvetica-BoldOblique.woff') format('woff');
}
.home {
    position: sticky;
    opacity: 90%;
    top: 40;
    padding: 5;
}
body {
    background-color: #57565B;
    font-family: Helvetica;
}
.page {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 850;
    height: 1400;
    margin: auto;
    background-color: #ffffff;
    padding-bottom: 60;
}
p.text {
    color: black;
    font-size: 16;
    line-height: 1.5;
    z-index: 1;
    width: 710;
    text-align: justify;
    margin: auto;
    margin-top: -15;
}
#newsshot {
    display: flex;
    width: 500;
    margin: auto;
    margin-top: -90
}
#resumebutton {
    display: flex;
    background-color: #57565B;
    padding: 10;
    margin: auto;
    margin-top: 0;
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 20
}
