.home {
    position: sticky;
    opacity: 90%;
    top: 40;
    padding: 6;
}
body {
    background-color: #57565B;
    font-family: Helvetica;
}
.page {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 2375;
    height: 500;
    margin-left: 100;
    margin-top: -47;
    background-color: #ffffff;
}
.galleryphotos {
    display: flex;
    margin: auto;
    margin-left: 7;
    height: 210;
    width: auto;
]
