@font-face {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('Helvetica.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: italic;
    font-weight: normal;
    src: local('Helvetica Oblique'), url('Helvetica-Oblique.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    src: local('Helvetica Bold'), url('Helvetica-Bold.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    src: local('Helvetica Bold Oblique'), url('Helvetica-BoldOblique.woff') format('woff');
}
.home {
    display: block;
    position: sticky;
    opacity: 90%;
    top: 40;
    padding: 6;
}
body {
    background-color: #57565B;
    font-family: Helvetica;
    display: flex;
    align-content: center;
}
.page {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 2275;
    height: 500;
    margin-left: 7;
    margin-right: 40;
    background-color: #ffffff;
}
.galleryphotos {
    display: flex;
    margin: auto;
    margin-left: 7;
    height: 210;
    width: auto;
}
#sources {
    margin: 7;
    margin-top: 0;
    font-family: Helvetica;
}
