body {
  background-color: #012b72;
  font-family: Verdana;
}
div.flex-header {
  display: flex;
  padding: 5;
  margin: -10;
  align-items: center;
  background-color: #fdfdfe;
  flex-direction: row;
}
.flex-container {
  display: flex;
  margin: auto;
  max-width: 600;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.logo {
  max-width: 120;
  margin: 5;
}
img.maplines {
  height: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
h1 {
  font-weight: normal;
  font-size: 50;
  color: #fdfdfe;
  margin-bottom: -8;
}
h2 {
  font-weight: normal;
  font-size: 20;
  color: #fdfdfe;
}
h3 {
  display: flex;
  margin: auto;
  justify-self: right;
  font-weight: bold;
  font-size: 32;
  color: black;
}
.button1 {
  display: flex;
  height: 23;
}
.button1:hover {
  display: flex;
  height: 27;
}
.button2 {
  display: flex;
  height: 72;
}
#about {
  position: absolute;
  margin-top: 681;
  margin-left: 496;
}
#socials {
  position: absolute;
  margin-top: 309;
  margin-left: 465;
}
#calendar {
  position: absolute;
  margin-top: 382;
  margin-left: 271;
}
#gallery {
  position: absolute;
  margin-top: 91;
  margin-left: 250;
}
#videos {
  position: absolute;
  margin-top: 32;
  margin-left: 514;
}
#works {
  position: absolute;
  margin-top: -273;
  margin-left: 262;
}
#toolbox {
  position: absolute;
  margin-top: -171;
  margin-left: 53;
}
#library {
  position: absolute;
  margin-top: 178;
  margin-left: 81;
}
#mediapool {
  position: absolute;
  margin-top: 498;
  margin-left: 37;
}
