@font-face {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('Helvetica.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: italic;
    font-weight: normal;
    src: local('Helvetica Oblique'), url('Helvetica-Oblique.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    src: local('Helvetica Bold'), url('Helvetica-Bold.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    src: local('Helvetica Bold Oblique'), url('Helvetica-BoldOblique.woff') format('woff');
}
.home {
    position: sticky;
    opacity: 90%;
    top: 40;
    padding: 6;
}
body {
    background-color: #57565B;
    font-family: Helvetica;
}
.page {
    display: flex;
    flex-direction: column;
    width: 850;
    height: 2450;
    margin: auto;
    margin-top: -20;
    margin-bottom: 40;
    background-color: #ffffff;
    padding-bottom: 60;
}
.pageframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description {
    width: 300;
    height: 315;
}
h1 {
    margin-top: 40;
    margin-bottom: 20;
    margin-left: 20;
}
h3.description {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
p.description {
    display: flex;
    align-items: flex-start;
    font-size: 15;
}
.unit {
    display: flex;
    justify-content: space-around;
    height: 300;
    margin-top: 40;
}
.bookcover {
    display: flex;
    height: 300;
    align-items: center;
}
p {
    margin-top: 0;
}
.subnote {
    display: flex; 
    margin: auto;
    margin-top: 50;
    width: 400;
}
