@font-face {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('Helvetica.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: italic;
    font-weight: normal;
    src: local('Helvetica Oblique'), url('Helvetica-Oblique.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    src: local('Helvetica Bold'), url('Helvetica-Bold.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    src: local('Helvetica Bold Oblique'), url('Helvetica-BoldOblique.woff') format('woff');
}
.home {
    position: sticky;
    opacity: 90%;
    top: 40;
    padding: 5;
}
body {
    background-color: #57565B;
}
.page {
    display: block;
    width: 850;
    height: 2800;
    margin: auto;
    justify-content: left;
    background-color: #ffffff;
    padding-bottom: 60;
}
