@font-face {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('Helvetica.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: italic;
    font-weight: normal;
    src: local('Helvetica Oblique'), url('Helvetica-Oblique.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    src: local('Helvetica'), url('Helvetica-Bold.woff') format('woff');
}
@font-face {
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    src: local('Helvetica Bold Oblique'), url('Helvetica-BoldOblique.woff') format('woff');
}
.home {
    position: sticky;
    opacity: 90%;
    top: 40;
    padding: 5;
}
body {
    background-color: #57565B;
}
.page {
    display: flex;
    width: 850;
    height: 1100;
    margin: auto;
    justify-content: left;
    background-color: #ffffff;
}
.title1 {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 10;
    margin-top: 60;
    width: 480;
    height: 250;
}
h1 {
    display: flex;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 80;
    margin-top: -20;
}
h3 {
    display: flex;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 40;
    margin-top: -65;
}
